﻿@model WarioSoft12.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fist_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fist_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.second_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.second_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.first_Lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.first_Lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.second_Lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.second_Lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Document)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Document)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_Document }) |
    @Html.ActionLink("Back to List", "Index")
</p>
