﻿@model IEnumerable<WarioSoft12.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fist_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.second_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.first_Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.second_Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Document)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fist_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.second_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.first_Lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.second_Lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Document)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_Document }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_Document }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_Document })
        </td>
    </tr>
}

</table>
